---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic QTlKcHNzc09Wd0dZTXlQakdSYTYzRmZFMzp3Wm04SEZwbjlGMWowaHZGZFVtbkl2dk5xU3F1VXNFUG5KbmJkVnpDa25tY3cwRm1MSQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 May 2020 13:29:00 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 879195d1061bfd201a8cdb50fe94dd83
      X-Response-Time:
      - '121'
      X-Transaction:
      - '0008bb3500d3fdae'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAFWaEAEAAAAA6BA5BFPLG1H%2Bo2nk%2B4JgY7X3ru0%3D0lP2yAHePgaFUaX1e910G3hUhrciahs52IV5FV16PdYZK2eAis"}'
  recorded_at: Wed, 06 May 2020 13:29:00 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=_pav_k
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAFWaEAEAAAAA6BA5BFPLG1H%2Bo2nk%2B4JgY7X3ru0%3D0lP2yAHePgaFUaX1e910G3hUhrciahs52IV5FV16PdYZK2eAis
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 May 2020 13:29:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8e336d0dca624286b75ba5fd7420ca1e
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '897'
      X-Rate-Limit-Reset:
      - '1588772055'
      X-Response-Time:
      - '126'
      X-Transaction:
      - 0040b6d700cc332a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":884066592,"id_str":"884066592","name":"\u041f\u0430\u0448\u0430
        \u0411\u0440\u0430\u0442\u0430\u043d\u043e\u0432","screen_name":"_pav_k","location":"Odesa","profile_location":null,"description":"Devide
        and rule","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":13,"friends_count":14,"listed_count":0,"created_at":"Tue
        Oct 16 09:17:34 +0000 2012","favourites_count":27,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":107,"lang":null,"status":{"created_at":"Thu
        Dec 19 19:52:11 +0000 2019","id":1207750496548741126,"id_str":"1207750496548741126","text":"\u0436\u0430\u043b\u044c,
        \u0447\u0442\u043e \"\u0432\u0435\u0447\u043d\u043e\u0435 \u0441\u0438\u044f\u043d\u0438\u0435
        \u0447\u0438\u0441\u0442\u043e\u0433\u043e \u0440\u0430\u0437\u0443\u043c\u0430\"
        - \u0444\u0430\u043d\u0442\u0430\u0441\u0442\u0438\u043a\u0430","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"ru"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme9\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2728851550\/1243f1cb77cc0b3f57f6c8956c4aaf68_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2728851550\/1243f1cb77cc0b3f57f6c8956c4aaf68_normal.png","profile_link_color":"332D23","profile_sidebar_border_color":"4F606E","profile_sidebar_fill_color":"0D0806","profile_text_color":"544C45","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"}'
  recorded_at: Wed, 06 May 2020 13:29:00 GMT
recorded_with: VCR 5.1.0
